<div class='container-fluid'>
  <h1>Jess and Brandon are getting hitched!</h1>
  <div class='container'>
    <img src="/assets/images/jess_and_b1.jpg" class="img" alt="jess-brandon" align='right' width="800" height="500">
  </div>
</div>

